:root{    /* Seleccionar el elemento raiz del documento, es prioridad por encima del HTML */
    --bluestrong: #087381;  /* Colores de Fondo */
    --bluelight: #25b7d1;   /* Colores de Fondo */
    --degradado:linear-gradient(90deg, var(--bluelight),var(--bluestrong));   /* Colores de Fondo con degradado */
}

/* Fuente/Tipo/Estilo de Letra en todo el Documento */
*{
    font-family: 'Poppins', sans-serif; /* Fuente */
    margin: 0;  /* Separacion de Texto */
    padding: 0px;   /* Separacion/Centrar Texto */
    box-sizing: border-box; /* Bordes */
    text-decoration: none;  /*  Para que no subraye */
    outline: none;  /* Para que no ponga linea */
    border: none;  /* Sin borde */
}

/* Tamanio de Letra en todo el documento */
html{
    font-size: 62.4%;
    /* overflow-x: hidden; */
}

/* Color del Body */
body{
    background-color: aliceblue;
}

/* Tamanio del Texto en los Titulos  */
.heading {
    text-align: center;
    background: var(--bluestrong);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* Tamanio y Ajustes de la Barra de Navegacion */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* Tamanio y Ajustes en "CyberpunkHeadphonesGamer" */
header .logo {
    font-size: 2rem;
    color: var(--bluestrong);
}

/* Cambio de Color en "Cyberpunk" */
header .logo span {
    color: var(--bluelight);
}

/* Tamanio y Ajustes en Barra de Navegacion */
header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--bluestrong);
}

/* header .navbar a:hover {
    color: var(--bluelight);
} */

header input{
    display: none;
}

/* header label {
    font-size: 3rem;
    color: var(--bluestrong);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
} */

/* Parametros de Seccion Inicio */
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(down_light.png) no-repeat;
    background-size: contain;
    background-position-y: 60pt;
    background-position-x: 530pt;
}

/* Tamanio Imagen */
.inicio .image img{
    width: 70vh;
    animation: float 3s ease-in-out infinite;
}

/* Animacion de todas las imagenes. No es necesario ponerlo en todas las imagenes si la animacion es la misma */
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3.5rem);
    }
}  
/*Explicacion sobre la animacion

-El efecto de esta animación es hacer que el elemento parezca flotar hacia arriba y hacia abajo.

-Fotograma clave 1: Este fotograma clave se aplica al principio y al final de la animación. Establece la propiedad transform en translateY(0rem), lo que significa que el elemento no se traducirá verticalmente.

Fotograma clave 2: Este fotograma clave se aplica en el medio de la animación (50%). Establece la propiedad transform en translateY(3.5rem), lo que significa que el elemento se traducirá 3.5rem hacia arriba.



/* Acomodo de la Seccion Inicio */
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

/* Parametros del Boton en Inicio */
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 1.8rem;
    color:white;
    cursor:pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

/* Transformacion Boton en Inicio */
.btn:hover{
    transform: scale(1.07);
}

/* Parametros de Texto Lenovo */
.inicio .content h3{
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
}

/* Parametros de Texto Lenovo 2*/
.inicio .content h3 span{
    color: var(--bluelight);
    text-transform: uppercase;
}

/* Parametros de Texto Descripcion Lenovo*/
.inicio .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}




/* Seccion Audifonos con Diadema */
.audífonos {
    background-color: var(--bluelight);
}

/* Titulo Sonido de .... */
.audífonos h1{
    color: #333;
}

/* Texto dentro del rectangulo */
.audífonos .caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Rectangulo Contenedor */
.audífonos .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: aliceblue;
    border-radius: 12rem;
    border: 1rem var(--degradado);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    margin: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: 2s linear;
}

/* Parametros de la Imagen */
.audífonos .caja-contenedor .caja img{
    height: 30rem;
    width: 40vh;
    animation: animLogo 10s infinite;
}    

/* Animacion de la Imagen */

 @keyframes animLogo{
    from {
        -webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
        }
}  


/* Parametros del Texto */
.audífonos .caja-contenedor .caja h3{
    font-size: 2.5rem;
    color: #333;
    padding-top: 4rem;
}

/* Parametros del Texto 2 */
 .audífonos .caja-contenedor .caja p{
    font-size: 2rem;
    color: #666;
    padding: 1rem ;
}

/* Color de Fondo parte 2 */
.audífonos2 {
    background-color: aliceblue;
}

/* Color de Titulo */
.audífonos2 h1{
    color: #333;
}

/* Parametros caja contenedora */
.audífonos2 .caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.audífonos2 .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: white;
    border-radius: 12rem;
    border: 1rem var(--degradado);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    margin: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: 2s linear;
}

/* Parametros Imagen */
.audífonos2 .caja-contenedor .caja img{
    height: 30rem;
    width: 40vh;
    animation: float 3s linear infinite;
}    

/* Animacion Imagen */

/* @keyframes  float{
    0%, 100%{
        transform: translatex(0rem);
    }
    50%{
        transform: translateY(3.5rem);
    }
} */

/* Parametros Titulo 2 */
.audífonos2 .caja-contenedor .caja h3{
    font-size: 2.5rem;
    color: #333;
    padding-top: 4rem;
}
/* 
Parametros Texto 2 */
 .audífonos2 .caja-contenedor .caja p{
    font-size: 2rem;
    color: #666;
    padding: 1rem ;
}

/* Seccion de otra galaxia */
.deotragalaxia {
    background:url(symbol_empire.png) no-repeat;
    size-adjust: 100pt ;
    background-position-x: 100px;
    background-position-y: 100px;
    background-position: center;
    padding-bottom: 2rem;
}

/* Color Fondo */
.deotragalaxia {
     background-color: #333;
}

/* Color Titulo */
.deotragalaxia .heading {
    color: var(--bluelight);
}

.deotragalaxia .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.deotragalaxia .columna .image{
    flex: 1 1 40rem;
}

.deotragalaxia .columna .image img{
    width: 85%;
    background-position-x: left;
    background-position-y: center;
}

.deotragalaxia .columna .content{
    flex: 1 1 40rem;
}

/* Texto Titulo */
.deotragalaxia .columna .content h3{
    font-size: 7rem;
    color: #c21221;
}

/* Texto parrafo */
.deotragalaxia .columna .content p{
    font-size: 3rem;
    color: white;
    padding: 1rem 0;
}

.deotragalaxia .columna .content .bottons a:last-child{ 
    margin-left: 5rem;
}

.suscribete{
    text-align: center;
    padding: 5rem 1rem;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
}

.suscribete h3{
    color: #aa0f1c;
    font-size: 3rem;
    text-transform: uppercase;
}

.suscribete p{
    color: var(--bluestrong);
    font-size: 1.6rem;
    margin: 2rem auto;
    width: 70rem;
}

/* Texto Titulo Suscribete */
.suscribete form{
    display: flex;
    max-width: 70rem;
    border: .2rem solid var(--bluestrong);
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
}
/* Texto Parrafo Suscribete */
.suscribete form input[type="email"]{
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: var(--bluestrong);
    text-transform: none;
    background: none;
}

/* Imput Texto */
.suscribete form input[type="email"]::placeholder{
    color: var(--bluestrong);
    text-transform: capitalize;
}

/* Parametros Boton Suscribete */
.suscribete form input[type="submit"]{
    background: var(--bluestrong);
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}

/* Cambio color */
.suscribete form input[type="submit"]:hover{
    color: var(--bluelight)
}

/* Seccion Opiniones */
.opiniones .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.opiniones .caja-contenedor .caja{
    background: var(--bluestrong);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    flex: 1 1 30rem;
    border-radius: .5rem;
}

.opiniones .caja-contenedor .caja .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin-top: 3rem;
}

.opiniones .caja-contenedor .caja .user h3{
    color: #333;
    font-size: 2.5rem;
}


.opiniones .caja-contenedor .caja .comentarios{
    color: var(#333);
    font-size: 1.5rem;
    padding: 1rem;
}

/* Seccion Contactos */
.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.contactos .image{
    flex: 1 1 40rem;
}

.contactos .image img{
    width: 100%;
    padding: 2rem;
}

.contactos form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: white;
}

.contactos .heading{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}

.contactos form .input_caja{
    position: relative;
}

.contactos form .input_caja input, .contactos form .input_caja textarea{
    width: 100%;
    background: none;
    color: #333;
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}

.contactos form .input_caja textarea{
    resize: none;
    height: 3rem;
}

.contactos form .input_caja label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2s linear;
}

.contactos form .input_caja input:focus ~ label,
.contactos form .input_caja input:valid ~ label,
.contactos form .input_caja textarea:focus ~ label,
.contactos form .input_caja textarea:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: var(--bluelight);
}

/* Footer */
.footer{
    background-color: #333;
}


.footer .caja-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .caja-contenedor .caja{
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .caja-contenedor .caja h3{
    font-size: 4rem;
    padding: 1rem 0;
    color: var(--bluestrong);
    text-decoration: solid;
    text-underline-offset: 1rem;
    text-align: center;
}

.footer .caja-contenedor .caja p{
    font-size: 2rem;
    padding: .5rem 0;
    color: var(--bluelight);
    text-align: center;
}

.footer .caja-contenedor .caja a{
    display: block;
    font-size: 2.5rem;
    padding: .5rem 0;
    color: var(--bluelight);
    text-align: center;
}


.footer .caja-contenedor .caja .info{
    display: flex;
    align-items: center;
}

.footer .caja-contenedor .caja .info i{
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: var(--bluelight);
    color: white;
    font-size: 1.8rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .creditos{
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--bluelight);
    border-top: .2rem solid var(--bluestrong);
    padding: 2.5rem 1rem;
    text-align: center;
}

@import "media.css";  /* Vinculacion al archivo que contiene los MediaQueries */

/* 
-Los media queries se pueden colocar en cualquier archivo CSS, pero es común colocarlos en un archivo separado para facilitar su mantenimiento. Este archivo se suele llamar media.css o responsive.css.

-Si los media queries se colocan en el mismo archivo CSS que el resto del código CSS, es importante colocarlos al final del archivo. Esto se debe a que los media queries tienen prioridad sobre las reglas CSS normales. Si los media queries se colocan al principio del archivo, las reglas CSS normales se aplicarán a todos los dispositivos, incluso a los que cumplan con las condiciones de los media queries.

*/

